:root {
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
line-height: 1.5;
font-weight: 400;

color: #ffffff;
background-color: #000000;
}

/* main container fills screen exactly */
.main-container {
width: 100vw;
height: 100vh;
top:0%;
background-color: #2e2e2e;
padding: 0%;
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow: hidden;
}
